* {
    box-sizing: border-box;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: radial-gradient(#100f42df, #190a0eeb);
    background-size: 100px 100px;
}
header {
    font-size: 2em;
    margin: 15px;
    text-align: center;
    border-bottom: 1px solid rgb(231, 12, 12);
}

span {
    margin: 15px;
    font-size: 1.5em;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}
nav {
    margin: 50px;
    background-color: transparent;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
a:visited {
    color: #eef1f1;
    text-decoration: none;
}
a:hover {
    color: rgba(230, 47, 37, 0.818);
    text-decoration: underline;
}
a:active {
    color: rgb(54, 243, 180);
    text-decoration: solid;
}
img {
    box-shadow: 0 0 10px rgba(230, 47, 37, 0.818);
    width: 200px;
    height: 200px;
}
